.DS_Store

.sass-cache/*
.vscode
.idea/*
__pycache__

# Own HTML file for quickly seeing a slide quickly
single.html

config.*
actual-config.js

# Jekyll generated/Ruby files
_site
.jekyll-metadata

vendor
.bundle

Gemfile.lock
