<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-website">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="index.html">
        CFG Python Advanced Course</a>
    </div>

    <div class="collapse navbar-collapse" id="navigation-website">
      <ul class="nav navbar-nav navbar-right">

        <li>
          <a href="./faq.html" class="text-center">
            FAQ
          </a>
        </li>

        <li>
          <a href="./theteam.html" class="text-center">
            The team
          </a>
        </li>

        <li>
          <a href="https://ss18cfgshefpython.slack.com/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
            <i class="fa fa-slack" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a href="https://twitter.com/search?src=typd&q=shefcodefirst" target="_blank" class="btn btn-simple btn-white btn-just-icon">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/groups/803069303236463/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
